body {
    margin: 0;
    padding: 0;
  }
  .launch {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .4rem;
    border-bottom: 1px solid #ddd;
  }
  .launch img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.7rem;
  }
  .launch .name {
    font-weight: bold;
  }
  .launch .email {
    font-family: monospace;
  }