body {
  margin: 0;
  padding: 0;
}
.launch {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid #ddd;
}
.launch img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}
/*quick fix to center logo*/
header img {
    margin-left: 100px;
  }
.launch .name {
  font-weight: bold;
}

.launch > .data div {
  padding: 0.2rem;
}
.launch .email {
  font-family: monospace;
}

.launch .success-true span {
  color: green;
}

.launch .success-false span {
  color: red;
}

.launch .date {
  font-size: 0.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.svglogo {
  width: 100%;
  max-width: 250px;
}
.svglogocontainer {
  display: flex;
  justify-content: center;
}


nav{
    background-color: #000000;  
}
 nav ul{
    list-style-type: none;
    padding: 0.25rem 0;
    display: flex;
    justify-content: space-around;/*since items have grow:1...there is no space to be distributed, this statment does not do anything*/

}

nav a{
    text-decoration: none;
    color: #f7efef;
    font-size: 0.75rem;
    position: relative;
    

}
nav ul li{
    flex-grow: 1;
    flex-basis: 0;/*since all flex items start from 0 and flex grow is set to 1 by default all items will take the same space(equals columns)*/
    text-align: center;
    padding-bottom: 5px;
   
}
nav a::after{
    content: '\0025bf';
   
   
}

nav ul li:last-child{
    outline: solid withe 0.5px;
}

.searchIcon{
    outline: 0.25px solid white;
    outline-offset: 1px;
}

nav a::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 115%;
    height: 1px;
    background-color: white;
    width: 0%;
    border-radius: 1px;
    transition: width 0.3s ease;
}

a:hover::before{
    width: 95%;
}
a:hover{
    color:white;
}

